* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: black;
  position: relative;
}

/* Se le Aplica Estilos a la barra de Navegacion  */

nav{
  margin-top: 20px;
}

/* Contenedor del navegador */
.Navegador{
  display: inline-block;
}

/* imagen del Logo  */
.Navegador__Logo{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 160vh;
}

/* Estilo de los 3 items */
.Navegador__item, .Navegador__item--Activo {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  font-size: x-large;
  transition: 1s;
}

.Navegador__item:nth-child(-n+2):hover{
  background-color: #6b786374;
  transition: 1s;
}

/* item  queda con un color predeterminado (activo) */
.Navegador__item--Activo{
  background-color: green;
  color: #f4f4f4;
  transition: 1s;
}
.Navegador__item--Activo:hover{
  transition: 1s;
  background-color: rgb(50, 157, 50);
}
/* Los link de las 3 items   */
.Navegador__Link{
  text-decoration: none;
  color: #f4f4f4
}
/* Este es el titulo principal de la Pagina */
.Titulo {
  display: inline-block;
  width: 100%;
  margin-top: 100px;
  font-family: "teko", sans-serif;
}
/* Utltima palabra DRINK */
.Titulo__Principal--color{
  background: linear-gradient(90deg,rgba(30, 232, 64, 1) 0%, rgba(87, 199, 133, 1) 17%, rgba(237, 221, 83, 1) 37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  /*Este es un truco que busque para poder aplicar Estilo a BRINKS*/
  display: inline-block;
}
/* Este el H1 del Titulo */
.Titulo__Principal{
  text-align: center;
  color: #ffffff;
  text-align: center;
  font-family: "teko", sans-serif;
  font-weight: 800;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 100px;
}

/* Se Realizan Ajustes al Card */
.Contenedor-Card{
  padding: 1%;
}
.Card{
  width: 50%;
  height: 20%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5%;
  border: gray solid 8px;
  position: relative;
}
.Card-Contenido{
  width: 40%;
  position: absolute;
}

.Card__Titulo{
  color: #fff;
  font-family: "teko", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 65px;
  max-width: 100%;;
  margin-bottom: 20px;
}
.Card_Descripcion{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  font-size: 200%;
  margin-bottom: 20px;
}

.Card_Precio{
  color: #969696;
  font-weight: 800;
  font-size: 150%;
  
}

.card__boton--Primario{
  background-color: rgb(8, 128, 44);
  padding: 2%;
  margin: 3%;
  font-size:16px;
  text-decoration: none;
  border: none;
  display: block;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  transition: 1s;
}
.card__boton--Primario:hover{
  background-color: rgb(160, 186, 168);
  transition: 1s;
}


.Card-imagen{
  display: inline-block;
  margin-left: 750px;

}